<ion-view title="Amigos" id="page13" style="background-color:#D3D4D4;" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="amigos-button-bar4" class=" button-bar ">
            <button id="amigos-button22" style="font-weight:lighter;color:#7A7373;font-size:13px;" class=" button button-stable button-small button-block ">POPULARES</button>
            <button id="amigos-button23" style="color:#7A7373;font-size:13px;" class=" button button-stable button-small button-block ">FIM DE SEMANA</button>
            <button id="amigos-button24" style="color:#7A7373;font-size:13px;" class=" button button-stable button-small button-block ">AMIGOS</button>
        </div>
        <div class="spacer" style="width: 283px; height: 49px;"></div>
        <div class="">
            <img src="img/ywu14TkQSGec071NnNV8_amigos.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 29px;"></div>
        <h4 id="amigos-heading16" style="color:#7A7373;font-weight:600;text-align:center;" class=" ">Fique por dentro!</h4>
        <h5 id="amigos-heading17" style="color:#7A7373;text-align:center;" class=" ">Veja quais eventos que os seus amigos participarão.</h5>
        <div class="spacer" style="width: 283px; height: 22px;"></div>
        <div class="">
            <img src="img/kLAObxXZS8m17Zxe6eiF_facebook.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>