<ion-view title="Bilhetes" id="page14" style="background-color:#D3D4D4;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div class="">
            <a style="display:block;" href="mailto:">
                <img src="img/oarzQIGtR5aVV8YUVZRb_TICKET.png" width="90%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <h5 id="bilhetes-heading19" style="color:#7A7373;text-align:center;" class=" ">Registre-se ou faça login para ver os seus bilhetes.</h5>
        <button id="bilhetes-button29" class=" button button-positive button-small button-block ">Cadastre-se</button>
        <p id="bilhetes-markdown10" style="color:#387EF5;text-align:center;" class=" ">Iniciar sessão.</p>
    </ion-content>
</ion-view>