<ion-view title="Evento Individual" id="pageEventoIndividual" class=" " hide-nav-bar="true">
    <ion-content padding="false" scroll="true"  >
        
        <a class="button button-clear button-positive button-event-back" ui-sref="principal.eventos">
           <i class="icon ion-chevron-left"></i>
        </a>
        
        <img src="img/eventos/evento4.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        
        <div class="event-info">

            <h2>DEVANEIOS SONOROS</h2>
            <h4><i class="icon ion-compass"></i>&nbsp;Bar Ice Drink - Vitória da Conquista, BA</h4>
            <h4><i class="icon ion-android-calendar"></i>&nbsp;03 de junho de 2016, 20h - 05 de junho de 2016, 02h</h4>
        </div>
        
        <hr>
        <div class="list">

              <div class="row">
                <div class="col col-75">
                    Promocional dia 04/06 (Anelis)<br>
                    R$ 30,00<br>
                    <span style="color: #999999"><i>Vendas até 31/05/2016</i></span>
                </div>
                <div class="col">
                    <button class="button button-small button-dark">
                        -
                    </button>
                    <button class="button button-small button-dark">
                        +
                    </button>
                </div>
        </div>

              <div class="row">
                <div class="col col-75">
                    Promocional dia 03/06 (Scambo)<br>
                    R$ 40,00<br>
                    <span style="color: #999999"><i>Vendas até 31/05/2016</i></span>
                </div>
                <div class="col">
                    <button class="button button-small button-dark">
                        -
                    </button>
                    <button class="button button-small button-dark">
                        +
                    </button>
                </div>
        </div>
            
            <button class="button button-full button-small button-energized" style="background-color: #FF9B27; font-weight: 500; font-size: 15px">
                COMPRAR INGRESSOS
            </button>
        </div>
        
        
            <div class="event-description">
                <h3>Descrição do evento</h3>
                DEVANEIOS SONOROS

Junho tradicionalmente é o mês do forró. Mas que tal alguns devaneios sonoros pra começar o mês? É esta a proposta do mini festival - apresentar diversas linguagens musicais que, mesmo distantes das tradicionais canções juninas, harmonizam-se em um final de semana inesquecível. Dost, Um Lugar pra Dois, DJ Rafha e DJ Paulinha Chernobyl são os nomes conquistenses que integram a programação, que será comandava por Scambo e Anelis Assumpção, respectivamente nos dias 03 e 04 de junho.
<br><br>
Scambo: banda baiana formada no fim dos anos 90. Em 2004 recebeu 7 indicações do Troféu Caymmi de 2004, com 6 estatuetas premiadas (recorde de premiações do mais importante prêmio da música baiana, que já teve entre seus vencedores artistas como Margarete Menezes, Tuzé de Abreu, Lazzo entre outros). Já dividiu palco com artistas nacionais e internacionais – Arnaldo Antunes, O Rappa, Nação Zumbi, Inner Circle, Los Hermanos, Zélia Duncan, Marcelo D2 e Cidade Negra. Em 2015 a Scambo dá mais um passo importante e participa do programa “Super Star” da Rede Globo, potencializando sua projeção nacional, além de participar do Festival de Inverno Bahia em Vitória da Conquista.
<br><br>
Anelis Assumpção: Filha do ícone da Vanguarda Paulista, Itamar Assumpção, a cantora traz no sangue o experimentalismo do pai. No show, a artista mostra as faixas de seu segundo álbum, “Anelis Assumpção e os Amigos Imaginários”, produzido coletivamente pela cantora e pelos músicos que a acompanham: Bruno Buarque, Cris Scabello, MAU e Zé Nigro.  O álbum conta com composições da própria artista e em parcerias com Russo Passapusso, Céu, Kiko Dinucci, Alzira e Jerry Espíndola. Também serão executadas músicas do álbum Legalize It, de Peter Tosh e do primeiro disco da Anelis, numa apresentação com dez músicos no palco.
<br><br>
	   Dost: banda conquistense que já participou dos principais festivais da cidade (Festival de Inverno Bahia, Natal da Cidade, Festival da Juventude, Suíça Bahiana, dentre outros). O grupo está em processo de gravação de seu novo disco.
<br><br>
	   Um lugar pra Dois: novíssimo projeto de Chico Ramalho e Lys Alexandrina, dois grandes nomes da nova geração de músicos conquistenses.
<br><br>
	   Paulinha Chernobyl e Rafha: DJs renomados na cidade, com destaque em quase todas as festas alternativas. Também são residentes do projeto Dia de Feira.
            </div>
            <div class="event-productor">
                <h3>Sobre o produtor</h3>
                <br>
                Casa Fora do Eixo Vitória da Conquista

Coletivo integrante do Circuito Fora do Eixo. Desenvolve ações culturais e já trouxe para Vitória da Conquista nomes como Pouca Vogal, Marcelo Jeneci, Emicida, Ratos de Porão, dentre outros.
        </div>
        <button class="button button-small button-outline button-stable">
          Fale com o produtor
        </button>
        <button class="button button-small button-outline button-stable">
          Mais eventos deste produtor
        </button>
        <br><br><br>
        <div>
            <center>Sympla <a href="#">Central de ajuda</a></center>
        </div>
        
    </ion-content>
</ion-view>