<ion-view title="{{'EVENTOS' | translate}}" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        
        
        <div id="eventos-button-bar1" class=" button-bar "></div>
        
        <form id="eventos-form6" class="list ">
            <label class="item item-select" id="eventos-select2">
                <span class="input-label">Belo Horizonte</span>
                <select></select>
            </label>
        </form>
        
        <div>
            <div ui-sref="evento" class="event-div" style="background-image: url(img/eventos/evento1.png)">
                <div class="event-list-title"><h4 style="color: #ffffff">BENDITA SEXTA FREUD BAR - BANDA CASH</h4></div>
                <div class="event-list-calendar" align="right">
                    <time datetime="2014-09-20" class="icon">
                        <em>Quinta</em>
                        <strong>Maio</strong>
                        <span>26</span>
                    </time>
                </div>
            </div>
            
            <div ui-sref="evento" class="event-div" style="background-image: url(img/eventos/evento2.png)">
                <div class="event-list-title"><h4 style="color: #ffffff">BENDITA SEXTA FREUD BAR - BANDA CASH</h4></div>
                <div class="event-list-calendar" align="right">
                    <time datetime="2014-09-20" class="icon">
                        <em>Quinta</em>
                        <strong>Maio</strong>
                        <span>26</span>
                    </time>
                </div>
            </div>
            
            <div ui-sref="evento" class="event-div" style="background-image: url(img/eventos/evento3.jpg)">
                <div class="event-list-title"><h4 style="color: #ffffff">BENDITA SEXTA FREUD BAR - BANDA CASH</h4></div>
                <div class="event-list-calendar" align="right">
                    <time datetime="2014-09-20" class="icon">
                        <em>Quinta</em>
                        <strong>Maio</strong>
                        <span>26</span>
                    </time>
                </div>
            </div>
            
            <div ui-sref="evento" class="event-div" style="background-image: url(img/eventos/evento4.png)">
                <div class="event-list-title"><h4 style="color: #ffffff">BENDITA SEXTA FREUD BAR - BANDA CASH</h4></div>
                <div class="event-list-calendar" align="right">
                    <time datetime="2014-09-20" class="icon">
                        <em>Quinta</em>
                        <strong>Maio</strong>
                        <span>26</span>
                    </time>
                </div>
            </div>
            
            <div ui-sref="evento" class="event-div" style="background-image: url(img/eventos/evento5.png)">
                <div class="event-list-title"><h4 style="color: #ffffff">BENDITA SEXTA FREUD BAR - BANDA CASH</h4></div>
                <div class="event-list-calendar" align="right">
                    <time datetime="2014-09-20" class="icon">
                        <em>Quinta</em>
                        <strong>Maio</strong>
                        <span>26</span>
                    </time>
                </div>
            </div>
        </div>
                <center><label class="item item-input" id="cadastro-input5">
                    <span class="input-label">3665 eventos à sua escolha</span>
                </label></center>
            <div class="spacer" style="width: 100%; height: 20px;"></div>
        
    </ion-content>
</ion-view>