<ion-view title="Eventos" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="eventos-button-bar1" class=" button-bar "></div>
        <form id="eventos-form6" class="list ">
            <label class="item item-select " id="eventos-select2">
                <span class="input-label">Belo Horizonte</span>
                <select></select>
            </label>
        </form>
        <div id="eventos-button-bar2" class=" button-bar ">
            <button id="eventos-button16" style="font-weight:lighter;color:#7A7373;font-size:13px;" class=" button button-stable button-small button-block ">POPULARES</button>
            <button id="eventos-button17" style="color:#7A7373;font-size:13px;" class=" button button-stable button-small button-block ">FIM DE SEMANA</button>
            <button id="eventos-button18" style="color:#7A7373;font-size:13px;" class=" button button-stable button-small button-block ">AMIGOS</button>
        </div>
        <div class="">
            <img src="img/lPUSrBiqSVyJYxxPxPuJ_veneno.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
            <div align="left">
                <time datetime="2014-09-20" class="icon">
                    <em>Quinta</em>
                    <strong>Maio</strong>
                    <span>26</span>
                </time>
            </div>
        </div>
    </ion-content>
</ion-view>