<ion-view title="Home2" id="page7" style="background-color:#E65100;" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="home2-heading4" style="color:#FFFFFF;font-weight:600;text-align:right;" class=" ">IGNORAR</h4>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <div class="">
            <a style="display:block;" href="mailto:">
                <img src="img/anOl4GdxQHevoctSNOg4_img2.png" width="100%" height="" style="display: block; margin-left: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 283px; height: 43px;"></div>
        <h5 id="home2-heading5" style="color:#FDFCFC;font-weight:600;text-align:center;" class=" ">COMPRE BILHETES AGORA!</h5>
        <button id="home2-button11" class=" button button-positive button-small button-block ">Cadastre-se</button>
        <h5 id="home2-heading6" style="color:#FFFDFD;font-weight:600;text-align:center;" class=" ">VEJA OS SEUS BILHETES</h5>
    </ion-content>
</ion-view>