<ion-view title="Home" id="page1" hide-nav-bar="true" style="background-image: url(../img/pattern.jpg)">
    <ion-content padding="false" has-header="false">

        
        <ion-slide-box class="slide-tutorial" on-slide-changed="slideHasChanged($index)" auto-play="true">
            <ion-slide>
                <div class="box slide-tutorial-page" style=" background-image: url(../img/introducao/Compre_Tickets.png)">
                    <div style="margin-top: 180px">
                        <h1 class="titulo-home">{{'EVENTOS' | translate}}</h1><br>
                        <h2 class="description-home">Encontre os melhores eventos!</h2>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box slide-tutorial-page" style=" background-image: url(../img/introducao/Encontre_Melhores_Eventos.png)">
                    <div style="margin-top: 270px; text-align: right">
                        <h1 class="titulo-home">{{'TICKETS' | translate}}</h1><br>
                        <h2 class="description-home">Compre os seus tickets agora!</h2>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box slide-tutorial-page" style=" background-image: url(../img/introducao/Todos_Lugares.png)">
                    <div style="margin-top: 180px">
                        <h1 class="titulo-home">{{'LOCALIZE' | translate}}</h1><br>
                        <h2 class="description-home">Eventos em todos os lugares</h2>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
        
        <button id="home-button10" ui-sref="cadastro" style="position: fixed; bottom: 80px;" 
                class="button button-calm button-small button-block">{{'CADASTRESE' | translate}}</button>
        <button id="home-button10" ui-sref="login" style="position: fixed; bottom: 30px" 
                class="button button-calm button-small button-block">{{'ENTRAR' | translate}}</button>
        
        <img src="../img/logo.png" width="150px;" style="position: fixed; top: 0px; padding: 20px"/>
        
    </ion-content>
</ion-view>