<ion-view title="Home3" id="page8" style="background-color:#90CAF9;" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="home3-heading7" style="color:#003B5A;font-weight:600;text-align:right;" class=" ">IGNORAR</h4>
        <div class="spacer" style="width: 283px; height: 37px;"></div>
        <div class="">
            <a style="display:block;" href="mailto:">
                <img src="img/Vq2hVT9gQCGnh7zxiWs9_img3.png" width="100%" height="" style="display: block; margin-left: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 283px; height: 52px;"></div>
        <h5 id="home3-heading8" style="color:#003B5A;font-weight:600;text-align:center;" class=" ">EVENTOS EM TODOS OS LUGARES!</h5>
        <button id="home3-button12" class=" button button-positive button-small button-block ">Cadastre-se</button>
        <h5 id="home3-heading9" style="color:#003B5A;font-weight:600;text-align:center;" class=" ">VEJA OS SEUS BILHETES</h5>
    </ion-content>
</ion-view>