<ion-view title="Cadastro" id="page4" class="" hide-nav-bar="true" style="background-image: url(img/language.png); background-size: cover">
    <ion-content padding="true" has-header="false">
        <form id="cadastro-form2" class="list ">
            <br><br><br><br><br><br><br>
            <div class="list card">

              <a ui-sref="home"  class="item item-icon-left" ng-click="changeLanguage('pt-BR')">
                <img src="img/flags/Brazil.png" width="50px" />
                <span style="margin-left: 50px">Português</span>
              </a>

              <a ui-sref="home"  class="item item-icon-left" ng-click="changeLanguage('es-ES')">
                <img src="img/flags/Spain.png" width="50px" />
                <span style="margin-left: 50px">Español</span>
              </a>

              <a ui-sref="home" class="item item-icon-left" ng-click="changeLanguage('en-US')">
                <img src="img/flags/United-States-of-America.png" width="50px" />
               <span style="margin-left: 50px"> English</span>
              </a>

            </div>
        </form>
        
    </ion-content>
</ion-view>