<ion-view title="Login" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form3" class="list ">
            <ion-list id="login-list3" class=" ">
                <label class="item item-input " id="login-input6">
                    <span class="input-label">Usuário</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input7">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button ui-sref="principal.eventos" id="login-button9" style="color:#FDFCFC;border-radius:5px 5px 5px 5px;" class=" button button-positive button-small button-block ">Login</button>
            <a ui-sref="cadastro" id="login-button6" class=" button button-positive  button-block button-clear ">Criar uma conta</a>
        </form>
    </ion-content>
</ion-view>