<ion-view title="Cadastro" id="page4" class=" ">
    
    <ion-content padding="true" class="has-header">
        
        <form id="cadastro-form2" class="list ">
            <ion-list id="cadastro-list2" class=" ">
                <label class="item item-input " id="cadastro-input3">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome">
                </label>
                <label class="item item-input " id="cadastro-input3">
                    <span class="input-label">Sobrenome</span>
                    <input type="text" placeholder="Sobrenome">
                </label>
                <label class="item item-input " id="cadastro-input4">
                    <span class="input-label">E-mail</span>
                    <input type="text" placeholder="E-mail">
                </label>
                <label class="item item-input " id="cadastro-input5">
                    <span class="input-label">Senha</span>
                    <input type="text" placeholder="Senha">
                </label>
                <ion-checkbox ng-model="filter.blue">Concordo com os Termos de uso e Política de privacidade da Sympla</ion-checkbox>
            </ion-list>
            <div class="spacer" style="width: 283px; height: 39px;"></div>
            <button id="cadastro-button4" ui-sref="principal.eventos" style="color:#FDFCFC;border-radius:5px 5px 5px 5px;" class=" button button-calm button-small button-block ">Cadastre-se</button>
        </form>
    </ion-content>
</ion-view>
