<ion-view title="Cadastro" id="page4" class=" ">

    <ion-content padding="true" class="has-header">

        <form id="cadastro-form2" class="list ">
            <ion-list id="cadastro-list2" class=" ">
				<img src="img/eventos/evento4.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
				<div class="event-info">
					<h4>DEVANEIOS SONOROS</h4>
					<h6><i class="icon ion-location"></i>&nbsp;Bar Ice Drink - Vitória da Conquista, BA</h6>
					<h6><i class="icon ion-android-calendar"></i>&nbsp;03 de junho de 2016, 20h - 05 de junho de 2016, 02h</h6>
				</div>

				<div class="card">
				  <div class="item item-text-wrap" style="background-color:#DFF0D8; text-align:center">
				    Inscrição efetuada!

					Baixe o(s) comprovante(s) de inscrição usando o botão abaixo <br>(eles também serão enviados por e-mail).
				  </div>
				</div>
				<ul class="list">
				    <li class="item">

						<button class="button button-energized" style="margin-left:20%">
							Baixar comprovantes
						</button>
				    </li>

				    <li class="item">
						 <div class="item item-text-wrap" style="color:#4A804A; text-align:center;">
							O número do seu pedido é:
						 </div>
						 <div class="item item-text-wrap" style="text-align:center">
						   QU4V3B4
						</div>
				    </li>
				</ul>


            </ion-list>
            <div class="spacer" style="width: 283px; height: 39px;"></div>
            <button id="cadastro-button4" ui-sref="principal.eventos" style="color:#FDFCFC;border-radius:5px 5px 5px 5px;" class=" button button-calm button-small button-block ">Finalizar</button>
        </form>
    </ion-content>
</ion-view>
