
.home-image-show{
    width: 80%;
    max-width: 500px;
}

.button-event-back{
    position: absolute;
    top: 5px;
}

.basic-padding
{
    padding:  5px;   
}

.event-info
{
    padding: 5px;
    padding-left: 15px;
    background-color: #ffffff;   
}

.event-description
{
    padding: 10px;
    background-color: #e6e6e6;   
}

.event-productor
{
    padding: 10px;
}

.event-div
{
    height: 200px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.event-list-title
{
    background-color: rgba(0, 0, 0, 0.8); /* Standard syntax */
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 1px;
}

.event-list-calendar
{
    margin-top: 30px;
    margin-right: 20px;
}

.slide-tutorial
{
    
}

.slide-tutorial-page
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 15px;
}

/*
//   Home
*/

.titulo-home
{
    background: rgba(0,0,0,0.6);
    display: inline-block;
    font-weight: 900;
    color: white;
    font-size: 32px;
    letter-spacing: 3px;
    padding: 5px;
    padding-left: 15px;
}

.description-home
{
    background: rgba(0,0,0,0.6);
    display: inline-block; 
    color: white;
    padding: 5px;
    padding-left: 15px;
    
    margin-top: -10px;
}

/*
//   
*/

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}


a.iprodev {
  line-height: normal;
  font-family: Varela Round, sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
  color: #A7AAAE;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border: 1px solid #A7AAAE;
  padding: 12px 20px 10px;
  border-radius: 50px;
  transition: all .1s ease-in-out;
  text-transform: uppercase;
}
a.iprodev:hover {
  background: #A7AAAE;
  color: white;
}